<!-- <!DOCTYPE html>
<html lang="en">

<%- include('./partial/head')%>


    <body>

        <%- include('./partial/header')%>


            <form class="formulario">

                <h4><b>¡Dejános tu mensaje!</b></h4>
                
                <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Coloca tu nombre">
                <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Coloca tu apellido">
                <input class="controlador" type="email" name="email" id="email1"
                    placeholder="Correo electrónico de contacto">
                <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono de contacto">
                <textarea class="controlador" id="comentario"
                    placeholder="Brindanos tu mensaje, nos pondremos en contacto con vos..."></textarea>
                <input class="button" type="submit" value="Enviar">

            </form>



            <%- include('./partial/footer')%>


    </body>

</html> -->