<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head')%>


    <body>

        <%- include('./partial/header')%>


            <main class="main-section">

                <section class="main-catg_container">
                </section>

                <section id="hero">
                    <h1>Subite a tu <br>proxima bici</h1>
                    <button>VAMOS!</button>
                </section>

                <section id="somos-space">
                    <div class="container">

                        <div class="img-container"></div>

                        <div class="texto">
                            <h2>Somos <span class="color-acento">SpaceBike </span></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ducimus facere blanditiis, a
                                unde tempora
                                nobis. Pariatur ipsam, ipsum molestiae accusantium labore recusandae molestias quo eum
                                perspiciatis at,
                                maiores animi?</p>
                            </div>

                    </div>
                </section>


                <section id="nuestros-productos">
                    <div class="container">
                        <h2>Nuestros Productos</h2>
                        <div class="productos">
                            <div class="carta">
                                <h3>Ruta</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum impedit
                                    numquam officiis!
                                    Rem quae non dignissimos repudiandae. Repellat ex, earum voluptate quia consequatur
                                    deserunt! Deserunt
                                    laboriosam cum libero aperiam!</p>
                                <button>+ Info</button>
                            </div>
                            <div class="carta">
                                <h3>MTB</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum impedit
                                    numquam officiis!
                                    Rem quae non dignissimos repudiandae. Repellat ex, earum voluptate quia consequatur
                                    deserunt! Deserunt
                                    laboriosam cum libero aperiam!</p>
                                <button>+ Info</button>
                            </div>
                            <div class="carta">
                                <h3>MBX</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum impedit
                                    numquam officiis!
                                    Rem quae non dignissimos repudiandae. Repellat ex, earum voluptate quia consequatur
                                    deserunt! Deserunt
                                    laboriosam cum libero aperiam!</p>
                                <button>+ Info</button>
                            </div>
                        </div>
                    </div>
                </section>


                <section id="caracteristicas">
                    <div class="container">
                        <ul>
                            <li>🚴​ 100% online</li>
                            <li>🚴​ Asesoramiento personalizado</li>
                            <li>🚴​ Las mejores marcas</li>
                            <li>🚴​ Opciones de financiamiento</li>
                        </ul>
                    </div>
                </section>


                <section id="final">
                    <h2>Listo para cumplir tus sueños?</h2>
                    <button>Contactanos</button>
                </section>




            </main>

            <%- include('./partial/footer')%>


    </body>

</html>